
#root {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  color: #1E88E5;
  background-color: #F5F5F5;
}