
.form{

    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #1976D2;
    border-radius: 10px;
    padding-top: 30px;

    hr{
        width: 90%;
    }
    /* button {
        width: 40%;
        background-color: #1976D2;
    } */
}

.input {
        width: 90%;
        height: 30px;
        color: #1E88E5;
        background-color: #F5F5F5;
    }