
.add{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 5vh;
    margin-top: 10px;
    span{
        width: 100px;
        font-weight: bolder;
        /* height: 30px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        width: 100px;
        height: 30px;
        background-color: green;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
    }

}